.carousel-item {
    height: 900px; //this can be whatever you want
}

.carousel-inner {
    height: 900px; //this can be whatever you want
}
.carousel-inner>.active {
    height: 900px; //this can be whatever you want
}